<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="./styles/dashboard.css"> 
    <script src="./js/utils.js"></script>
</head>
<body>
    <%- include('partials/userBubble', { user: user }) %>
    <div class="container">
        <%- include('partials/menu') %>
        <div  id="" class="content">
        </div>
    </div>
</body>
</html>
