<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
    <link rel="stylesheet" href="./styles/home.css"> 
</head>
<body>

    <div class="container  login-form">
        <form id="loginForm" action="/login" method="post">
            <div>
                <label>Username:</label>
                <input type="text" id="email" name="email" required>
            </div>
            <div>
                <label>Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div style="width: 100%;">
                <button class="submit-button" type="submit">Login</button>
            </div>
        </form>
        <div id="error-message" style="color: red; display: none;"></div>
    </div>
     
    <script>
        document.getElementById('loginForm').addEventListener('submit', async function(event) {
            event.preventDefault();
            
            console.log(event);

            event.preventDefault();
            const email = document.getElementById('email').value;
            const password = document.getElementById('password').value;
            const errorMessageElement = document.getElementById('error-message');

            // Debug: Log the captured values
            console.log(`Email: ${email}`);
            console.log(`Password: ${password}`);

            try {
                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({ email, password })
                });


                const result = await response.json();
                console.log(result);
                if (response.ok) {
                    window.location.href = '/dashboard';
                } else {
                    errorMessageElement.textContent = result.message;
                    errorMessageElement.style.display = 'block';
                    errorMessageElement.classList.add('shake');
                    setTimeout(() => errorMessageElement.classList.remove('shake'), 500);
                }
            } catch (error) {
                errorMessageElement.textContent = 'An error occurred. Please try again.';
                errorMessageElement.style.display = 'block';
                errorMessageElement.classList.add('shake');
                setTimeout(() => errorMessageElement.classList.remove('shake'), 500);
            }
        });


    </script>


    </body>
    </html>