@import 'fonts'; // Import the fonts SCSS file
@import "https://www.nerdfonts.com/assets/css/webfont.css";

//-----------------------------------------------------------------------------------
// BASE VARIABLES
// ----------------------------------------------------------------------------------

$primary-color: #55E000;
$low-primary-color: #2F4422;
$complementary-color: #9100E0;
$second-complementary-color: #E00065;

$low-complementary-color: #503061;
$low-second-complementary-color: #613046;

$text-color: #333;
$background-color: $complementary-color;
$shadow-color: #131313;

$txt-light-color: rgb(196, 196, 196);


$primary-gradient-background: linear-gradient(186deg, rgba(49,29,117,1) 0%, rgba(145,0,224,1) 33%, rgba(197,117,253,1) 78%, rgba(243,138,235,1) 100%);


// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";
$mq-retina: "(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)";

// Font-Size
$base-font-size: 1em;

// Line-Height
$base-line-height: 1.5;
$header-line-height: 1.25;


//-----------------------------------------------------------------------------------
// BASE CLASSES
// ----------------------------------------------------------------------------------


body {
    font-size: $base-font-size;
    line-height: $base-line-height;
    margin: 0;
    height: 100vh;

    @media #{$mq-medium} {
      font-size: $base-font-size*1.2;
      line-height: $base-line-height*1.2;
    }
  
    @media #{$mq-large} {
      font-size: $base-font-size*1.3;
    }
  
    @media #{$mq-xlarge} {
      font-size: $base-font-size*1.35;
    }
  
    @media #{$mq-xxlarge} {
      font-size: $base-font-size*1.45;
    }
}

.container {
    background-color: white;
    margin: 0 4%;
    padding: 1.25em; 

    @media #{$mq-medium} {
      margin: 0 8%;
    }
  
    @media #{$mq-large} {
      margin: 0 12%;
    }
  
    @media #{$mq-xlarge} {
      margin: 0 18%;
    }
}

//-----------------------------------------------------------------------------------
// MIXINS
// ----------------------------------------------------------------------------------

@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex-column {
    display: flex;
    flex-direction: column;
}
@mixin flex-row {
    display: flex;
    flex-direction: row;
}
@mixin solid-shadow{
    box-shadow: 0.18em 0.18em 0em $shadow-color; // 2px and 4px converted to em
}
@mixin clickable{
    cursor: pointer;
}
@mixin border-standard {
    border-radius: 0.25em; // 4px converted to em
    border-color: black;
    border-style: solid;
    border-width: 0.08em;
}

//-----------------------------------------------------------------------------------
// Ready to use styles
// ----------------------------------------------------------------------------------

@keyframes hoverAnimation {
    0% {  transform: translate(0, 0); }
    100% {  transform: translate(-0.12em, -0.12em); }
}
@keyframes hoverAnimation-right {
    0% {  transform: translate(0, 0); }
    100% {  transform: translate(0.15em, -0.06em); }
}

@mixin button-standard {
    @include border-standard;
    @include clickable;
    &:hover {            
        animation: hoverAnimation 0.2s ease-out forwards;
        @include solid-shadow;
    }
}

@mixin button-standard-right {
    @include border-standard;
    @include clickable;
    &:hover {            
        animation: hoverAnimation-right 0.2s ease-out forwards;
        @include solid-shadow;
    }
}

@mixin button-accent {
    @include button-standard;
    color: $text-color;
    background-color: $primary-color;
    font-size: larger;
    width: 100%;
}

@mixin button-light {
    @include clickable;
    &:hover {            
        color:#fff;
    }
}

// @mixin menu-item-standard {
//     color: $text-color;
//     background-color: $complementary-color;
//     font-size: larger;
//     width: 100%;
// }

// @mixin menu-item-collapsed {
//     color: $text-color;
//     background-color: $low-complementary-color;
//     font-size: larger;
//     width: 100%;

//     @include clickable;
//     &:hover {            
//         animation: hoverAnimation 0.2s ease-out forwards;
//         @include solid-shadow;
//     }
// }

.tooltip {
    position: absolute;
    background-color: #333;
    color: #fff !important;
    padding: 5px;
    border-radius: 5px;
    display: none;
    z-index: 1000;
    font-size: 14px !important;
    font-weight: lighter;
    text-align: left;
}

//-----------------------------------------------------------------------------------
// Animations
// ----------------------------------------------------------------------------------

@keyframes shake {
    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }
}

.shake {
    animation: shake 0.5s;
}

//-----------------------------------------------------------------------------------
// User bubble styles
// ----------------------------------------------------------------------------------

#user-bubble {
    position: fixed;
    bottom: auto;
    right: 0;
    margin: 0.3em;
    padding: 0.3em;
    color: $low-primary-color;
    border-radius: 0.25em;
    font-size: x-large;
    background-color: bisque;
    
    @include clickable;

    scale: 0.7;
    &:hover {            
        @include solid-shadow;
    }

    @media #{$mq-medium} {
        scale: 0.6;
    }

    div {
        font-size: small;
    }
}