
@import 'app';
@import 'menu';

.container {
    background: rgb(227, 213, 234);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    margin:0;
    height: 100vh;
    width: 100%;
    padding: 0;
}

