@import "https://www.nerdfonts.com/assets/css/webfont.css";
@import "https://www.nerdfonts.com/assets/css/webfont.css";
@font-face {
  font-family: "InconsolataNerd";
  src: url("../fonts/InconsolataNerdFont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerd";
  src: url("../fonts/InconsolataNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerdMono";
  src: url("../fonts/InconsolataNerdFontMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerdMono";
  src: url("../fonts/InconsolataNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerdPropo";
  src: url("../fonts/InconsolataNerdFontPropo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerdPropo";
  src: url("../fonts/InconsolataNerdFontPropo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontIIxNerd";
  src: url("../fonts/ProFontIIxNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontIIxNerdMono";
  src: url("../fonts/ProFontIIxNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontIIxNerdPropo";
  src: url("../fonts/ProFontIIxNerdFontPropo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontWindowsNerd";
  src: url("../fonts/ProFontWindowsNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontWindowsNerdMono";
  src: url("../fonts/ProFontWindowsNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontWindowsNerdPropo";
  src: url("../fonts/ProFontWindowsNerdFontPropo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

div {
  font-family: "ProFontWindowsNerdPropo", Arial, sans-serif;
}

body {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

label {
  font-family: "ProFontWindowsNerdPropo", Arial, sans-serif;
}

p {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

input {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

.submit-button {
  font-family: "InconsolataNerdPropo", Arial, sans-serif;
  font-weight: bold;
}

body {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  height: 100vh;
}
@media (min-width: 64em) {
  body {
    font-size: 1.2em;
    line-height: 1.8;
  }
}
@media (min-width: 85.375em) {
  body {
    font-size: 1.3em;
  }
}
@media (min-width: 120em) {
  body {
    font-size: 1.35em;
  }
}
@media (min-width: 160em) {
  body {
    font-size: 1.45em;
  }
}

.container {
  background-color: white;
  margin: 0 4%;
  padding: 1.25em;
}
@media (min-width: 64em) {
  .container {
    margin: 0 8%;
  }
}
@media (min-width: 85.375em) {
  .container {
    margin: 0 12%;
  }
}
@media (min-width: 120em) {
  .container {
    margin: 0 18%;
  }
}

@keyframes hoverAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-0.12em, -0.12em);
  }
}
@keyframes hoverAnimation-right {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0.15em, -0.06em);
  }
}
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff !important;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
  font-size: 14px !important;
  font-weight: lighter;
  text-align: left;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.5s;
}

#user-bubble {
  position: fixed;
  bottom: auto;
  right: 0;
  margin: 0.3em;
  padding: 0.3em;
  color: #2F4422;
  border-radius: 0.25em;
  font-size: x-large;
  background-color: bisque;
  cursor: pointer;
  scale: 0.7;
}
#user-bubble:hover {
  box-shadow: 0.18em 0.18em 0em #131313;
}
@media (min-width: 64em) {
  #user-bubble {
    scale: 0.6;
  }
}
#user-bubble div {
  font-size: small;
}

@font-face {
  font-family: "InconsolataNerd";
  src: url("../fonts/InconsolataNerdFont-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerd";
  src: url("../fonts/InconsolataNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerdMono";
  src: url("../fonts/InconsolataNerdFontMono-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerdMono";
  src: url("../fonts/InconsolataNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerdPropo";
  src: url("../fonts/InconsolataNerdFontPropo-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "InconsolataNerdPropo";
  src: url("../fonts/InconsolataNerdFontPropo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontIIxNerd";
  src: url("../fonts/ProFontIIxNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontIIxNerdMono";
  src: url("../fonts/ProFontIIxNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontIIxNerdPropo";
  src: url("../fonts/ProFontIIxNerdFontPropo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontWindowsNerd";
  src: url("../fonts/ProFontWindowsNerdFont-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontWindowsNerdMono";
  src: url("../fonts/ProFontWindowsNerdFontMono-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "ProFontWindowsNerdPropo";
  src: url("../fonts/ProFontWindowsNerdFontPropo-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
* {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

div {
  font-family: "ProFontWindowsNerdPropo", Arial, sans-serif;
}

body {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

label {
  font-family: "ProFontWindowsNerdPropo", Arial, sans-serif;
}

p {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

input {
  font-family: "InconsolataNerd", Arial, sans-serif;
}

.submit-button {
  font-family: "InconsolataNerdPropo", Arial, sans-serif;
  font-weight: bold;
}

body {
  font-size: 1em;
  line-height: 1.5;
  margin: 0;
  height: 100vh;
}
@media (min-width: 64em) {
  body {
    font-size: 1.2em;
    line-height: 1.8;
  }
}
@media (min-width: 85.375em) {
  body {
    font-size: 1.3em;
  }
}
@media (min-width: 120em) {
  body {
    font-size: 1.35em;
  }
}
@media (min-width: 160em) {
  body {
    font-size: 1.45em;
  }
}

.container {
  background-color: white;
  margin: 0 4%;
  padding: 1.25em;
}
@media (min-width: 64em) {
  .container {
    margin: 0 8%;
  }
}
@media (min-width: 85.375em) {
  .container {
    margin: 0 12%;
  }
}
@media (min-width: 120em) {
  .container {
    margin: 0 18%;
  }
}

@keyframes hoverAnimation {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-0.12em, -0.12em);
  }
}
@keyframes hoverAnimation-right {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0.15em, -0.06em);
  }
}
.tooltip {
  position: absolute;
  background-color: #333;
  color: #fff !important;
  padding: 5px;
  border-radius: 5px;
  display: none;
  z-index: 1000;
  font-size: 14px !important;
  font-weight: lighter;
  text-align: left;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}
.shake {
  animation: shake 0.5s;
}

#user-bubble {
  position: fixed;
  bottom: auto;
  right: 0;
  margin: 0.3em;
  padding: 0.3em;
  color: #2F4422;
  border-radius: 0.25em;
  font-size: x-large;
  background-color: bisque;
  cursor: pointer;
  scale: 0.7;
}
#user-bubble:hover {
  box-shadow: 0.18em 0.18em 0em #131313;
}
@media (min-width: 64em) {
  #user-bubble {
    scale: 0.6;
  }
}
#user-bubble div {
  font-size: small;
}

.menu {
  background: rgb(49, 29, 117);
  background: linear-gradient(186deg, rgb(49, 29, 117) 0%, rgb(145, 0, 224) 33%, rgb(197, 117, 253) 78%, rgb(243, 138, 235) 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0.6em;
  color: rgb(196, 196, 196);
  font-weight: bold;
  transition: width 0.3s ease, font-size 0.3s ease;
  width: fit-content;
}
.menu a {
  cursor: pointer;
  color: rgb(196, 196, 196);
  text-overflow: clip;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  text-decoration: none;
}
.menu a:hover {
  color: #fff;
}
.menu .icon {
  display: inline-block;
  margin-right: 0.4em;
  cursor: pointer;
}
.menu .icon:hover {
  color: #fff;
}
.menu .menu-item-text {
  margin-right: 1em;
  cursor: pointer;
}
.menu .menu-item-text:hover {
  color: #fff;
}
.menu .expand-icon {
  width: fit-content;
  padding: 0.1em 0.2em 0.1em 0.1em;
  margin-bottom: 1em;
  transform: scale(0.8);
  transform: rotateY(180deg);
}
.menu .expand-icon i {
  cursor: pointer;
}
.menu .expand-icon i:hover {
  color: #fff;
}

.expand-icon-bubble {
  display: inline-block;
  height: fit-content;
  width: fit-content;
  font-size: 0.85em;
  background: linear-gradient(186deg, rgb(49, 29, 117) 0%, rgb(145, 0, 224) 33%, rgb(197, 117, 253) 78%, rgb(243, 138, 235) 100%);
  color: rgb(196, 196, 196);
  padding: 0.3em 0.6em 0.4em 0.4em;
  margin: 0.4em 0em 0.4em 0em;
  border-radius: 0.25em;
  border-color: black;
  border-style: solid;
  border-width: 0.08em;
  cursor: pointer;
  cursor: pointer;
}
.expand-icon-bubble:hover {
  animation: hoverAnimation-right 0.2s ease-out forwards;
  box-shadow: 0.18em 0.18em 0em #131313;
}
.expand-icon-bubble:hover {
  color: #fff;
}

.container {
  background: rgb(255, 255, 255);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  margin: 0;
  height: 100vh;
  width: 100%;
  padding: 0;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 2em;
  align-content: center;
  flex-wrap: nowrap;
  align-items: center;
}

.chat-container {
  width: 80%;
  height: 100vh;
}

.chat-form {
  display: flex;
  padding: 1em 0;
}

.chat-input {
  flex-grow: 1;
  padding: 0.5em;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.chat-submit {
  margin-left: 1em;
  padding: 0.5em 1em;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.participant-label {
  text-align: left;
}

.participant-message {
  text-align: left;
}

.your-name {
  font-weight: lighter;
  text-align: right;
}

.your-message {
  text-align: right;
  border-radius: 50%;
  padding: 0.5em;
  margin: 0.1em;
  background-color: #e7e7e7;
  width: fit-content;
}